# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the dataset
nombre_archivo = "pokemon.csv"
pokemon = pd.read_csv(nombre_archivo)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [3]:
top5_pokemon = pokemon.nlargest(5, 'Total')
top5_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True

In [4]:
subset_pokemon = pokemon[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Total"]]

column_sum = subset_pokemon[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].sum(axis=1)

comparison_result = column_sum == subset_pokemon["Total"]

if comparison_result.all():
    print("La hipótesis es cierta: 'Total' es la suma de las otras columnas.")
else:
    print("La hipótesis es falsa: 'Total' no es la suma de las otras columnas para todas las filas.")

La hipótesis es cierta: 'Total' es la suma de las otras columnas.

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)

In [5]:
# your code here
unique_names1 = pokemon['Type 1'].unique()
unique_names2 = pokemon['Type 2'].unique()
print(unique_names1)
print(unique_names2)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

In [25]:
unique_types = ['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground',
                'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon', 'Dark',
                'Steel', 'Flying']

# Crear nuevas columnas para cada tipo y llenar con 0
for type in unique_types:
    pokemon[type] = 0

# Asignar 1 a las columnas correspondientes según los valores de 'Type 1' y 'Type 2'
for index, row in pokemon.iterrows():
    pokemon.at[index, row['Type 1']] = 1
    if pd.notna(row['Type 2']):
        pokemon.at[index, row['Type 2']] = 1

# Combinar los resultados en un solo DataFrame junto con la columna 'Name'
encoded_pokemon = pokemon[['Name'] + unique_types]

# Imprimir las primeras filas del nuevo DataFrame codificado
encoded_pokemon.head(10)

,Name,Grass,Fire,Water,Bug,Normal,Poison,Electric,Ground,Fairy,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying
0,Bulbasaur,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,Ivysaur,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,Venusaur,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,VenusaurMega Venusaur,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,Charmander,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,Charmeleon,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,Charizard,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7,CharizardMega Charizard X,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
8,CharizardMega Charizard Y,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9,Squirtle,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,0,0,0,0,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,0,0,0,0,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,0,0,0,0,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,0,0,0,0,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,Fire-
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,0,0,0,0,0,0,0,0,0,Fire-
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,...,0,0,0,0,0,0,0,0,1,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,...,0,0,0,0,0,1,0,0,0,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,...,0,0,0,0,0,0,0,0,1,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,...,0,0,0,0,0,0,0,0,0,Water-

In [8]:
unique_types = pd.concat([pokemon["Type 1"], pokemon["Type 2"]]).unique()

# Crear un nuevo DataFrame con los valores únicos
unique_types_df = pd.DataFrame(unique_types, columns=["Unique Types"])

# Mostrar el nuevo DataFrame
unique_types_df

   Unique Types
0         Grass
1          Fire
2         Water
3           Bug
4        Normal
5        Poison
6      Electric
7        Ground
8         Fairy
9      Fighting
10      Psychic
11         Rock
12        Ghost
13          Ice
14       Dragon
15         Dark
16        Steel
17       Flying
18          NaN

In [9]:
pokemon['Combo Type'] = pokemon['Type 1'] + '-' + pokemon['Type 2'].fillna('')
pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,0,0,0,0,0,0,0,0,0,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,0,0,0,0,0,0,0,0,0,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,0,0,0,0,0,0,0,0,0,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,...,0,0,0,0,0,0,0,0,0,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,0,0,0,0,0,0,0,0,0,Fire-
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,0,0,0,0,0,0,0,0,0,Fire-
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,...,0,0,0,0,0,0,0,0,1,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,...,0,0,0,0,0,1,0,0,0,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,...,0,0,0,0,0,0,0,0,1,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,...,0,0,0,0,0,0,0,0,0,Water-
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,...,0,0,0,0,0,0,0,0,0,Water-
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,...,0,0,0,0,0,0,0,0,0,Water-
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,...,0,0,0,0,0,0,0,0,0,Water-
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,...,0,0,0,0,0,0,0,0,0,Bug-
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,...,0,0,0,0,0,0,0,0,0,Bug-

In [27]:
global_mean_total = pokemon['Total'].mean()

combo_type_means = pokemon.groupby('Combo Type')['Total'].mean()

filtered_combo_types = combo_type_means[combo_type_means > global_mean_total].reset_index()

# Crear un nuevo DataFrame con los resultados
result_df = pd.DataFrame({
    'Combo Type': filtered_combo_types['Combo Type'],
    'Mean Total': filtered_combo_types['Total']
})

print(result_df)

        Combo Type  Mean Total
0     Bug-Fighting  550.000000
1         Bug-Fire  455.000000
2        Bug-Steel  509.714286
3            Dark-  436.200000
4      Dark-Dragon  440.000000
..             ...         ...
80    Water-Dragon  610.000000
81  Water-Fighting  556.666667
82       Water-Ice  511.666667
83   Water-Psychic  481.000000
84     Water-Steel  530.000000

[85 rows x 2 columns]

In [28]:
result_df = result_df.nlargest(5, 'Mean Total')
result_df

         Combo Type  Mean Total
44      Ground-Fire  770.000000
13       Dragon-Ice  686.666667
8   Dragon-Electric  680.000000
10      Dragon-Fire  680.000000
37     Ghost-Dragon  680.000000

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [12]:
pokemon.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Fighting,Psychic,Rock,Ghost,Ice,Dragon,Dark,Steel,Flying,Combo Type
570,511,Pansage,Grass,NaN,316,50,53,48,53,48,...,0,0,0,0,0,0,0,0,0,Grass-
630,569,Garbodor,Poison,NaN,474,80,95,82,60,82,...,0,0,0,0,0,0,0,0,0,Poison-
132,123,Scyther,Bug,Flying,500,70,110,80,55,80,...,0,0,0,0,0,0,0,0,1,Bug-Flying
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,...,0,0,0,0,0,0,0,0,0,Fire-
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,...,0,0,0,0,0,0,0,0,1,Normal-Flying
482,434,Stunky,Poison,Dark,329,63,63,47,41,41,...,0,0,0,0,0,0,1,0,0,Poison-Dark
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,...,0,0,0,0,1,0,0,0,0,Grass-Ice
283,260,SwampertMega Swampert,Water,Ground,635,100,150,110,95,110,...,0,0,0,0,0,0,0,0,0,Water-Ground
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,...,0,0,0,0,0,0,0,0,0,Fire-
328,303,Mawile,Steel,Fairy,380,50,85,85,55,55,...,0,0,0,0,0,0,0,1,0,Steel-Fairy

In [16]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Grass',
       'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground',
       'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon',
       'Dark', 'Steel', 'Flying', 'Combo Type'],
      dtype='object')

In [23]:
selected_columns = ['Total', 'Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric', 'Ground',
                    'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice', 'Dragon', 'Dark', 'Steel', 'Flying']

correlation_with_total = pokemon[selected_columns].corr()['Total']

correlation_with_total

Total       1.000000
Grass      -0.052592
Fire        0.078726
Water      -0.021665
Bug        -0.145781
Normal     -0.105331
Poison     -0.090441
Electric    0.020971
Ground      0.015060
Fairy      -0.036698
Fighting    0.077786
Psychic     0.124688
Rock        0.032731
Ghost       0.003641
Ice         0.060248
Dragon      0.229705
Dark        0.056154
Steel       0.109703
Flying      0.059383
Name: Total, dtype: float64

In [22]:
correlation_with_total.sort_values(ascending=False)

Total       1.000000
Dragon      0.229705
Psychic     0.124688
Steel       0.109703
Fire        0.078726
Fighting    0.077786
Ice         0.060248
Flying      0.059383
Dark        0.056154
Rock        0.032731
Electric    0.020971
Ground      0.015060
Ghost       0.003641
Water      -0.021665
Fairy      -0.036698
Grass      -0.052592
Poison     -0.090441
Normal     -0.105331
Bug        -0.145781
Name: Total, dtype: float64

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [13]:
# your code here